<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" ui-view="top"></div>
    </div>
    <div class="row">
        <div class="col-md-12" ui-view="middle"></div>
    </div>
    <div class="row">
        <div class="col-md-12" ui-view="bottom"></div>
    </div>
</div>