<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Top
    </h3>
  </div>

  <div class="panel-body">
    <p>{{ vm.state }}</p>
    <p ng-model="vm.state"></p>

  </div>
</div>
