<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Tabs and Nested Views</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css" />

    <link rel="stylesheet" href="bower_components/jquery-ui/themes/ui-lightness/jquery-ui.css">
    <link rel="stylesheet" href="app/index.css">
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#sb-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                Angular Playground
            </a>
        </div>

        <div class="collapse navbar-collapse" id="sb-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li><a href="#/tabs">Tabs</a></li>
                <li><a href="#/drag">Drag/drop</a></li>
            </ul>
        </div>
    </div>
</div>
<div ui-view></div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>

<script src="node_modules/modernizr/modernizr.js"></script>
<script src="node_modules/angular/angular.js"></script>
<!--<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>-->
<script src="node_modules/angular-bootstrap/ui-bootstrap.js"></script>
<script src="node_modules/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="node_modules/angular-ui-router/build/angular-ui-router.js"></script>
<script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>

<script src="app/app.js"></script>
<script src="app/directives.js"></script>
<script src="app/draggable/draggableDirective.js"></script>

<script type="text/ng-template" id="hospital-census-item.html">
    <div class="col-sm-4 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>{{vm.list.name}}</h3>
                <div id="{{ vm.list.id }}"
                    class="droppable"
                    droppable
                    droppable-model="vm"
                    droppable-drop="vm.onListMove">
                    <div ng-repeat="item in vm.list.items | index | orderBy: 'name' track by item.name"
                         data-index="{{item.index}}"
                         data-item="{{item}}"
                         data-reject="{{item.reject}}"
                         ng-class-odd="'row-odd'"
                         ng-class-even="'row-even'"
                         draggable>
                        {{ item.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>

<script type="text/ng-template" id="hospital-census.html">
    <div ng-repeat="list in vm.lists | orderBy: 'name' track by list.id">
        <draggable-list list="list" lists="vm.lists" 
            droppable-drop="vm.onListMove" />
    </div>    
</script>

</body>
</html>
