<div class="container-fluid">

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Name:
                    <span ng-bind="vm.data.item.getSetFirstName()"></span>
                    <span ng-bind="vm.data.item.getSetLastName()"></span>
                    <span class="badge" ng-show="vm.data.item.isDirty()">
                        Dirty!
                    </span>
                </p>
                <p>{{ vm.state }}</p>
                <button type="button" class="btn btn-default"
                        ng-disabled="!vm.shouldShowPrev()"
                        ng-click="vm.showPrev()">Previous</button>
                <button type="button" class="btn btn-default"
                        ng-disabled="!vm.shouldShowNext()"
                        ng-click="vm.showNext()">Next</button>
            </div>
        </div>
    </div>

    <div class="row">
        <tabset justified="false">
            <tab ng-repeat="tab in vm.tabs" heading="{{ tab.title }}" disabled="tab.disabled" active="tab.active" select="vm.go(tab.id)">
                <div ui-view=""></div>
            </tab>
        </tabset>
    </div>

</div>
