<div class="container-fluid">

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Name:
                    <span ng-bind="vm.data.item.getSetFirstName()"></span>
                    <span ng-bind="vm.data.item.getSetLastName()"></span>
                    <span class="badge" ng-show="vm.data.item.isDirty()">
                        Dirty!
                    </span>
                </p>
                <p>{{ vm.state }}</p>
                <button type="button" class="btn btn-default"
                        ng-disabled="!vm.shouldShowPrev()"
                        ng-click="vm.showPrev()">Previous</button>
                <button type="button" class="btn btn-default"
                        ng-disabled="!vm.shouldShowNext()"
                        ng-click="vm.showNext()">Next</button>
            </div>
        </div>
    </div>

    <div class="row">
        <tabset justified="false">
            <tab heading="Routed Tab" disabled="{{ !vm.shouldShowTab1 }}" select="vm.go('tabs.tab1')">
                <div ui-view=""></div>
            </tab>

            <tab heading="Routed Tab w/ Layouts" disabled="{{ !vm.shouldShowTab2 }}" select="vm.go('tabs.tab2')">
                <div ui-view=""></div>
            </tab>

            <tab heading="Toggled Tab" disabled="!vm.shouldShowTab3" select="vm.go('tabs.tab3')">
                <div ui-view=""></div>
            </tab>

            <tab heading="Nested Directive" disabled="!vm.shouldShowTab4" select="vm.go('tabs.tab4')">
                <div ui-view=""></div>
            </tab>

            <tab heading="Routed Directive" disabled="{{ !vm.shouldShowTab5 }}" select="vm.go('tabs.tab5')">
                <div ui-view=""></div>
            </tab>
        </tabset>

    </div>

</div>
