<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" ui-view="left"></div>
        <div class="col-md-4" ui-view="middle"></div>
        <div class="col-md-4" ui-view="right"></div>
    </div>
</div>