<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Left
    </h3>
  </div>

  <div class="panel-body">
    <p>{{ vm.state }}</p>
    <p ng-model="vm.state"></p>
    <form>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text"
               class="form-control"
               id="firstName"
               placeholder="First Name"
               ng-model="vm.item.firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text"
               class="form-control"
               id="lastName"
               placeholder="Last Name"
               ng-model="vm.item.lastName">
      </div>
    </form>
  </div>
</div>
