<div class="col-padding">
    <h3>
      Middle
    </h3>

    <p>{{ vm.state }}</p>
    <p ng-model="vm.state"></p>
    <form>
      <div class="form-group">
        <label for="street">Street</label>
        <input type="text"
               class="form-control"
               id="street"
               placeholder="Street"
               ng-model="vm.item.address.street">
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text"
               class="form-control"
               id="city"
               placeholder="City"
               ng-model="vm.item.address.city">
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input type="text"
               class="form-control"
               id="state"
               placeholder="State"
               ng-model="vm.item.address.state">
      </div>
      <div class="form-group">
        <label for="zip">Postal Code</label>
        <input type="text"
               class="form-control"
               id="zip"
               placeholder="Postal Code"
               ng-model="vm.item.address.zip">
      </div>
    </form>
</div>
