<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" ui-view="left"></div>
        <div class="col-md-6" ui-view="right"></div>
    </div>
    <div class="row">
        <div class="col-md-12" ui-view="bottom"></div>
    </div>
</div>