<div class="modal-header">
    <h3 class="modal-title">{{ vm.title }}</h3>
</div>
<div class="modal-body">
    <progressbar class="progress-striped active" value="100"></progressbar>
    <div ng-show="vm.messages && vm.message.length">
        <p ng-repeat="msg in vm.messages track by $index">
            <span ng-class="msg.type">{{ msg.message }}</span>
        </p>
    </div>
</div>
<div class="modal-footer" ng-show="vm.showClose">
    <button class="btn btn-primary" ng-click="vm.dismiss('OK')">Close</button>
</div>